@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
}

html,
body {
  height: 100%;
}

.menu-wrapper {
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  font-family: "TTLakes", sans-serif;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-header {
  height: 116px;
}

.menu-header__close-menu {
  position: absolute;
  left: 24px;
  top: 23px;
}

.menu-header__logo {
  position: absolute;
  left: 80px;
  top: 19px;
}

.menu-header__menu-search {
  position: absolute;
  top: 23px;
  right: 24px;
}

.menu-navigation-element {
  margin-left: 24px;
  margin-bottom: 32px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.menu-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-navigation__element1 {
  margin-left: 20px;
  margin-top: 4px;
}

.menu-navigation__element1::before {
  content: "";
  border-left: 4px solid #41f6d7;
  width: 4px;
  height: 32px;
  display: inline-block;
  border-radius: 0 100px 100px 0;
  position: absolute;
  top: 116px;
  left: 0px;
}

.menu-navigation-element > a {
  color: #1b1c21;
}

.menu-navigation-element:first-child > a {
  color: #7e7e82;
}

.menu-navigation-element:first-child:hover > a {
  color: #1b1c21;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 24px;
  justify-items: flex-end;
}

.menu-footer__email {
  margin-top: 16px;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.menu-footer__phone-number {
  margin-top: 12px;
  margin-bottom: 40px;
  color: #1b1c21;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 700;
  width: 196px;
  height: 32px;
}

.menu-contacts-buttons__phone-call {
  margin-right: 16px;
}

.menu-contacts-buttons__chat {
  margin-right: 16px;
}

.menu-contacts-buttons__profile {
  margin-right: 16px;
}

.menu-language-switch-buttons {
  margin-right: 7px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-size: 16px;
}

.menu-language-switch-buttons:first-child {
  color: #7e7e82;
}

button:hover {
  -webkit-filter: drop-shadow(1px 1px 3px #000);
          filter: drop-shadow(1px 1px 3px #000);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
